* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background: #160D3A;
    flex-direction: column;
    gap: 100px
}
.indexTitle {
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 35px;
    font-weight: 900;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 75px;
}
.indexButton {
    width: 425px;
    height: 75px;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 25px;
    padding: 10px 30px;
    transition: 0.5s;
    border: 3px solid #fff;
}
.indexButton:hover {
    background: var(--clr);
    color: var(--clr);
    border-color: var(--clr);
    letter-spacing: 0.15em;
    box-shadow: 0 0 50px var(--clr);
}
.indexButton i {
    position: absolute;
    inset: 0;
    display: block;
}
.indexButton i::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 10%;
    width: 35px;
    height: 3px;
    background: #160D3A;
    transform: translateX(-50%) skew(310deg);
    transition: 0.5s;
}
.indexButton:hover i::before {
    width: 70px;
    left: 85%;
}
.indexButton i::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 90%;
    width: 35px;
    height: 3px;
    background: #160D3A;
    transform: translateX(-50%) skew(310deg);
    transition: 0.5s;
}
.indexButton:hover i::after {
    width: 70px;
    left: 15%;
}
