<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalimba Game with Tone Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>
<body>
    <h1>Hra na rozeznání hudebních tónů</h1>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    <div id="controls">
        <button id="startBtn">Hrát</button>
    </div>
    <div id="hud">
        <span id="score">Skóre: 0</span>
        <span id="timer">Čas: 2:30</span>
        <div id="toneDisplay"></div>
        <div id="confidenceDisplay"></div>
        <div id="message"></div>
    </div>

    <button class="backButton" onclick="location.href='{{ url_for( 'index' ) }}'" style="--clr: #39A0ED; background: #160D3A">Zpět<i></i></button>

    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>