<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozpoznávání tónů Kalimby</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="kalimba-background">
        <div class="kalimba-key group-left" id="key-D6"><span class="key-label">D6</span></div>
        <div class="kalimba-key group-left" id="key-B5"><span class="key-label">B5</span></div>
        <div class="kalimba-key group-left" id="key-G5"><span class="key-label">G5</span></div>
        <div class="kalimba-key group-left" id="key-E5"><span class="key-label">E5</span></div>
        <div class="kalimba-key group-left" id="key-C5"><span class="key-label">C5</span></div>
        <div class="kalimba-key group-left" id="key-A4"><span class="key-label">A4</span></div>
        <div class="kalimba-key group-left" id="key-F4"><span class="key-label">F4</span></div>
        <div class="kalimba-key group-left" id="key-D4"><span class="key-label">D4</span></div>
        <div class="kalimba-key middle-key group-right" id="key-C4"><span class="key-label">C4</span></div> 
        <div class="kalimba-key group-right" id="key-E4"><span class="key-label">E4</span></div>
        <div class="kalimba-key group-right" id="key-G4"><span class="key-label">G4</span></div>
        <div class="kalimba-key group-right" id="key-B4"><span class="key-label">B4</span></div>
        <div class="kalimba-key group-right" id="key-D5"><span class="key-label">D5</span></div>
        <div class="kalimba-key group-right" id="key-F5"><span class="key-label">F5</span></div>
        <div class="kalimba-key group-right" id="key-A5"><span class="key-label">A5</span></div>
        <div class="kalimba-key group-right" id="key-C6"><span class="key-label">C6</span></div>
        <div class="kalimba-key group-right" id="key-E6"><span class="key-label">E6</span></div>
    </div>

    <div class="container">
        <h1>Rozpoznávání tónů</h1>
        <button id="startButton">Spustit rozpoznávání</button>
        <div id="toneDisplay" class="tone-display"></div>
        <div id="confidenceDisplay" class="confidence-display"></div>
        <div id="message" class="message"></div>
    </div>

    <button class="backButton" onclick="location.href='{{ url_for( 'index' ) }}'" style="--clr: #D183C9; background: #160D3A">Zpět<i></i></button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
